{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Registrar visita</title>
</head>
<body>
    <main id="form_container">
        <h2>Registro de Visitas</h2>
        <form method="post" id="form">
            {% csrf_token %}    
            <div class="input-box">
                <label for="id_department" class="form-label">Setor:</label>
                <select id="id_department" name="department" required>
                    <option value="">Selecione um Setor</option>
                </select>
            </div>

            <div class="input-box">
                <label for="id_user" class="form-label">Funcionário:</label>
                <select id="id_user" name="user" required>
                    <option value="">Selecione um funcionário</option>
                </select>
            </div>

            <button type="submit" class="btn-default">
                <i class="fa-solid fa-check"></i>
                Registrar Visita
            </button>
            <a href="/atendente/" class="btn-default" >Cancelar</a>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Função para carregar os departamentos
            async function fetchDepartment(){
                const branchId = {{ user.branch_id }};
                let departmentSelect = document.getElementById("id_department");
                const response = await fetch(`/get-departments/?branch_id=${branchId}`)
                if (response.ok) {
                    const data = await response.json();
                    if (!data.error){
                        departmentSelect.innerHTML = '<option value="">Selecione um Setor</option>';
                        data.departments.forEach(department => {
                            let option = new Option(department.name, department.id);
                            departmentSelect.add(option);
                        });
                    } else {
                        console.error("Erro ao carregar departamentos", response);
                    }
                } else {
                    console.error("Erro ao carregar departamentos", response);
                }
            }
            fetchDepartment();

            // Função para carregar funcionários
            async function fetchFuncUser() {
                const departmentId = document.getElementById("id_department").value;
                let userSelect = document.getElementById("id_user");
                const response = await fetch(`/get-func-user/?department_id=${departmentId}`)
                if (response.ok) {
                    const data = await response.json();
                    if (!data.error){
                        userSelect.innerHTML = '<option value="">Selecione um funcionário</option>';
                        data.users.forEach(user => {
                            let option = new Option(user.username, user.id);
                            userSelect.add(option);
                        });
                    } else {
                        console.error("Erro ao carregar funcionários", response);
                    }
                } else {
                    console.error("Erro ao carregar funcionários", response);
                };
            }
            document.getElementById("id_department").addEventListener("change", fetchFuncUser);
        });
    </script>
</body>
</html>
