<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Unidade</title>
    {% load static%}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body>
    <main id="form_container">
        <div id="form_header">
            <h1 id="form_title">
                Atualizar unidade
            </h1>
            <button class="btn-default">
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>
        </div>

        <form method="POST" id="form">
            {% csrf_token %}
            <div id="input_container">
                <div class="input-box">
                    <label 
                        for="name" 
                        class="form-label"
                    >
                        Nome da unidade
                    </label>
                    <div class="input-field">
                        <input  type="text" name="name" id="name" class="form-control" value="{{ branch.name }}" required >
                    </div>
                </div>

                <div class="input-box">
                    <label 
                        for="description" class="form-label" >
                        Descrição da unidade
                    </label>
                    <div class="input-field">
                        <textarea name="description" id="description" class="form-control" rows="5"  cols="50" required >
                        {{ branch.description }}
                    </textarea>
                    </div>
                </div>

            </div>

            <button type="submit" class="btn-default">
                <i class="fa-solid fa-check"></i>
                Criar unidade
            </button>
            <a href="/administrador/" class="btn-default" >Cancelar</a>

        </form>
    </main>

</body>
</html>