{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Criar setor</title>
</head>
<body>
    <main id="form_container">
        <div id="form_header">
            <h1 id="form_title">Criar Setor</h1>
        </div>

        <form method="POST" id="form">
            {% csrf_token %}
            <div id="input_container">
                <div class="input-box">
                    <label for="id_name" class="form-label">Nome do setor</label>
                    <div class="input-field">
                        <input type="text" name="name" id="id_name" class="form-control" placeholder="Setor 1" required>
                    </div>
                </div>

                <div class="input-box">
                    <label for="id_description" class="form-label">Descrição do setor</label>
                    <div class="input-field">
                        <textarea type="text" name="description" id="id_description" class="form-control" placeholder="Descrição do setor..." rows="5" cols="50">
                        </textarea>
                    </div>
                </div>

                <div id="branch_field">
                    <label for="id_branch" class="form-label">Unidade</label>
                    <select id="id_branch" name="branch">
                        <option value="">Selecione a Unidade</option>
                        {% for branch in branches %}
                            <option value="{{ branch.id }}">{{ branch.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn-default">
                <i class="fa-solid fa-check"></i>
                Criar setor
            </button>
            <a href="/administrador/" class="btn-default" >Cancelar</a>
        </form>
    </main>
</body>
</html>