{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Cadastrar Visitante</title>
</head>
<body>
    <main id="form_container">
        <div id="form_header">
            <h1 id="form_title">Cadastrar Visitante</h1>
        </div>

        <div id="visitor-photo-container" style="text-align:center; margin-top:20px;">
            <img id="visitor-photo-img" src="" alt="Foto do Visitante" style="max-width: 150px;">
        </div>

        <form method="POST" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="input_container">

                <div class="input-box">
                    <label for="cpf" class="form-label">CPF do Visitante</label>
                    <div class="input-field">
                        <input type="text" name="cpf" id="cpf" class="form-control" placeholder="XXXXXXXXXXX" required oninput="fetchVisitorData()">
                    </div>
                </div>

                <div class="input-box">
                    <label for="name" class="form-label">Nome do Visitante</label>
                    <div class="input-field">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Fulando de Tal" required>
                    </div>
                </div>

                <div class="input-box">
                    <label for="rg" class="form-label">RG do Visitante</label>
                    <div class="input-field">
                        <input type="text" name="rg" id="rg" class="form-control" placeholder="XXXXXXXXX" required>
                    </div>
                </div>

                <div class="input-box">
                    <label for="phone" class="form-label">Telefone do Visitante</label>
                    <div class="input-field">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="XXXXXXXXXXX" required>
                    </div>
                </div>

                <div class="input-box">
                    <label for="photo" class="form-label">Foto do Visitante</label>
                    <div class="input-field">
                        <input type="file" id="photo" name="photo" accept="image/*">
                    </div>
                </div>

            </div>

            <button type="submit" class="btn-default">
                <i class="fa-solid fa-check"></i>
                Cadastrar Visitante
            </button>
        </form>
        <a href="/atendente/" class="btn-default" >Cancelar</a>

    </main>

    <script>
        async function fetchVisitorData(){
            const cpf = document.getElementById('cpf').value;   
            if (cpf.length !== 11) {
                document.getElementById('error-message').textContent = "CPF inválido.";
            } else { 
                console.log(cpf)
                const response = await fetch(`/atendente/get-visitors/?cpf=${cpf}`);
                if(response.ok){
                    const data = await response.json();
                    if(!data.error){
                        document.getElementById('name').value = data.name;
                        document.getElementById('rg').value = data.rg;
                        document.getElementById('phone').value = data.phone;
                        if(data.photo){
                            let imgElement = document.getElementById('visitor-photo-img');
                            imgElement.src = data.photo;
                            imgElement.style.display = 'block';
                            let photoInput = document.getElementById('photo');
                            photoInput.value = data.photo;
                        }else{
                            document.getElementById('photo').style.display = 'none';
                        }
                    }else{
                        document.getElementById('name').value = "";
                        document.getElementById('rg').value = "";
                        document.getElementById('phone').value = "";
                        document.getElementById('error-message').textContent = "Visitante não encontrado.";
                    }
                }
            }
        }
    </script>
</body>
</html>
