{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Administrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- Incluindo o Chart.js -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body class="bg-gray-100">
   
    <div class="container mx-auto py-6">

        <div class="bg-purple-300 mb-3 p-6 rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-5xl font-bold mb-6">Painel do Administrador</h2>
                <a href="/logout" class="btn-default">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h5 class="text-3xl font-semiboldbold mb-6">Administrador: {{ admin.first_name }} {{ admin.last_name }}</h5>
                <h5 class="text-3xl font-semiboldbold mb-6">Email: {{ admin.email }}</h5>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Card de Visitas -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-3xl font-semibold mb-4">Visitas</h3>
                <p class="text-2xl font-bold">{{ visits }}</p>
            </div>
            <!-- Card de Visitas Aguardando -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-3xl font-semibold mb-4">Visitas Agendadas</h3>
                <p class="text-2xl font-bold">{{ awaiting_visits }}</p>
            </div>
            <!-- Card de Visitas Confirmadas -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-3xl font-semibold mb-4">Visitas Confirmadas</h3>
                <p class="text-2xl font-bold">{{ confirmed_visits }}</p>
            </div>
        </div>

        <!-- Gráfico de Visitas por Unidade -->
        <div class="bg-white p-6 mt-6 rounded-lg shadow-md flex justify-between ">
            <div class="w-1/3 p-2">
            <h3 class="text-3xl font-semibold mb-4">Visitas por Unidade</h3>
            <canvas id="visitsChart"></canvas> <!-- Ajustando o tamanho do gráfico -->
            </div>
            <div class="w-1/3 p-2">
            <h3 class="text-3xl font-semibold mb-4">Visitas por Setor</h3>
            <canvas id="visitsDpChart"></canvas> <!-- Ajustando o tamanho do gráfico -->
            </div>
        </div>
        
        <div class="bg-white p-6 mt-6 rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-4xl font-semibold mb-4">Unidades</h3>
                <a href="add-branch/" class="btn btn-default mb-4">Cadastrar Unidade</a>
            </div>
            <table class="min-w-full table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Nome</th>
                        <th class="px-4 py-2">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for branch in branches %}
                    <tr>
                        <td class="border px-4 py-2"><a href="update-branch/{{branch.id}}">{{ branch.name }} </a></td>
                        <td class="border px-4 py-2">{{ branch.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



        <!-- Tabelas de Departamentos e Unidades -->
        <div class="bg-white p-6 mt-6 rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-4xl font-semibold">Setores</h3>
                <a href="add-department/" class="btn-default">Cadastrar setor</a>
            </div>
            <table class="min-w-full table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Nome</th>
                        <th class="px-4 py-2">Descrição</th>
                        <th class="px-4 py-2">Unidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td class="border px-4 py-2"><a href="update-department/{{ department.id }}">{{ department.name }}</a></td>
                        <td class="border px-4 py-2">{{ department.description }}</td>
                        <td class="border px-4 py-2">{{ department.branch__name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="bg-white p-6 mt-6 rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-4xl font-semibold mb-4">Usuário</h3>
                <a href="add-users/" class="btn btn-default mb-4">Cadastrar Usuário</a>
            </div>
            <table class="min-w-full table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Nome</th>
                        <th class="px-4 py-2">Telefone</th>
                        <th class="px-4 py-2">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="border px-4 py-2"><a href="update-user/{{user.id}}">{{ user.first_name }} {{ user.last_name}} </a></td>
                        <td class="border px-4 py-2">{{ user.phone }}</td>
                        <td class="border px-4 py-2">{{ user.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const visitsKey = {{ visits_key | safe }};
        const visitsValue = {{ visits_values | safe }};
        const ctx = document.getElementById('visitsChart').getContext('2d');


        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: visitsKey,
                datasets: [{
                    label: 'Número de Visitas',
                    data: visitsValue,  
                    backgroundColor: ['#4f46e5', '#333'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        const visitsDpKey = {{ visits_dp_key | safe }};
        const visitsDpValue = {{ visits_dp_values | safe }};
        const ctxDp = document.getElementById('visitsDpChart').getContext('2d');

        new Chart(ctxDp, {
            type: 'bar',
            data: {
                labels: visitsDpKey, 
                datasets: [{
                    label: 'Número de Visitas',
                    data: visitsDpValue,  
                    backgroundColor: ['#4f46e5', '#333'], 
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });
    </script>
</body>
</html>
