{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />´
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">	
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>	
	<main id="form_container" class="bg-white">
        <div id="form_header">
            <h1 id="form_title" class="text-3x1">Login</h1>
            <button class="btn-default">
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>
        </div>

        <form method="POST" id="form">
            {% csrf_token %}
            <div id="input_container">
                <div class="input-box">
                    <label for="username" class="form-label">Nome de Usuário</label>
                    <div class="input-field">
                        <input type="text" name="username" id="username" class="form-control" placeholder="Fulano">
                    </div>
                </div>

                <div class="input-box">
                    <label for="password" class="form-label">Senha</label>
                    <div class="input-field">
                        <input type="password" name="password" id="password1" class="form-control" placeholder="*******">
                        
                    </div>
                </div>

				<button type="submit" class="btn-default">
					<i class="fa-solid fa-check"></i>
					Login
				</button>
			</div>
												
		</form>
	</main>

</body>

</html>