{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Administrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-6">
        

        <div class="bg-purple-300 mb-3 p-6 rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-5xl font-bold mb-6">Painel do funcionario</h2>
                <a href="/logout" class="btn-default">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h5 class="text-3xl font-semiboldbold mb-6">Funcionário: {{ employee.first_name }} {{ employee.last_name }}</h5>
                <h5 class="text-3xl font-semiboldbold mb-6">Email: {{ employee.email }}</h5>
                <h5 class="text-3xl font-semiboldbold mb-6">Setor: {{ employee.branch }}</h5>

            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Card de Visitas Aguardando -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-3xl font-semibold mb-4">Visitas Agendadas</h3>
                <p class="text-2xl font-bold">{{ awaiting_count }}</p>
            </div>
            <!-- Card de Visitas Confirmadas -->
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h3 class="text-3xl font-semibold mb-4">Visitas Realizadas</h3>
                <p class="text-2xl font-bold">{{ confirmed_count }}</p>
            </div>
        </div>


        <!-- Tabelas de Departamentos e Unidades -->
        <div class="bg-white p-6 mt-6 rounded-lg shadow-md">
            <h3 class="text-3xl font-semibold mb-4">Visitas Agendadas</h3>
            <table class="min-w-full table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Foto</th>
                        <th class="px-4 py-2">Visitante</th>
                        <th class="px-4 py-2">Data</th>
                       <th class="px-4 py-2">Confirmar visita</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visit in awaiting_visits %}
                    <tr>
                        {% if visit.visitor__photo %}
                        <td class="border px-4 py-2"><img src="/media{{ visit.visitor__photo }}" alt="Foto de {{ visit.visitor__name }}" width="50" height="50"></td>
                        {% else %}
                        <td class="border px-4 py-2"><img src="/media/profile_pictures/default.png" alt="Foto de {{ visit.visitor__name }}" width="50" height="50"></td>
                        {% endif %}
                        <td class="border px-4 py-2">{{ visit.visitor__name }}</td>
                        <td class="border px-4 py-2">{{ visit.date|date:"d/m/Y H:i"}}</td>
                        <td class="border px-4 py-2"> <a href="/funcionario/confirm-visit/{{ visit.id }}" class="btn-default">Confirmar</a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="border px-4 py-2">Nenhuma visita aguardando.</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="bg-white p-6 mt-6 rounded-lg shadow-md">
            <h3 class="text-3xl font-semibold mb-4">Visitas Realizadas</h3>
            <table class="min-w-full table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Visitante</th>
                        <th class="px-4 py-2">Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visit in confirmed_visits %}
                        <tr>
                            <td class="border px-4 py-2">{{ visit.visitor__name }}</td>
                            <td class="border px-4 py-2">{{ visit.date|date:"d/m/Y" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="border px-4 py-2">Nenhuma visita confirmada.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
